@import "tailwindcss";

:root {
  --bg-color: #f8fafc;
  --card-color: #ffffff;
  --bg-image: url('/bg-light.jpg'); 
}

[data-theme="dark"] {
  --bg-color: #1f2937;
  --card-color: #111827;
  --bg-image: url('/bg.jpg'); 
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.3s;
}

.card {
  background-color: var(--card-color);
  transition: background 0.3s;
}



