/* @import "tailwindcss";

:root {
  --bg-color: #f8fafc;
  --card-color: #ffffff;
  --bg-image: url('/listen/bg-light.jpg'); 
}

[data-theme="dark"] {
  --bg-color: #1f2937;
  --card-color: #111827;
  --bg-image: url('/listen/bg.jpg'); 
}

body {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.3s;
}

.card {
  background-color: var(--card-color);
  transition: background 0.3s;
}

.service-inactive {
  background-image: none !important;
  background-color: var(--bg-color);
}



 */


 @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
}